---
interface Props {
	texto: string;
}

const { texto } = Astro.props;
---

<h1>{texto}</h1>

<style>
	h1 {
		font-size: clamp(5rem, 3.909rem + 3.409vw, 8rem);
		font-style: normal;
		font-weight: 900;
		line-height: calc(clamp(5rem, 3.909rem + 3.409vw, 8rem) * 0.975);
		/* line-height: 78px; 97.5% */
		letter-spacing: 1.6px;

		background: linear-gradient(
			252deg,
			rgba(255, 255, 255, 0.9) 10.23%,
			rgba(255, 255, 255, 0.72) 112.32%
		);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		max-width: 500px;
	}
</style>
