---
interface Props {
	texto: string;
	padding?: string;
}

const { texto, padding = "0" } = Astro.props;
---

<h3>{texto}</h3>

<style define:vars={{ padding }}>
	h3 {
		text-align: center;
		font-size: clamp(2rem, 1.273rem + 2.273vw, 4rem); /* min a los 320 y max a los 1200 px */
		font-style: normal;
		font-weight: 900;
		line-height: clamp(2rem, 1.091rem + 2.841vw, 4.5rem);
		letter-spacing: 0.5px;


		background: linear-gradient(
			252deg,
			rgba(255, 255, 255, 0.9) 10.23%,
			rgba(255, 255, 255, 0.72) 112.32%
		);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding: 0 var(--padding);
	}
</style>
