---
interface Props {
	texto: string;
}

const { texto } = Astro.props;
---

<h2>{texto}</h2>

<style>
	h2 {
		text-align: center;
		font-size: clamp(3rem, 2.273rem + 2.273vw, 5rem); /* min a los 320 y max a los 1200 px */
		font-style: normal;
		font-weight: 900;
		/* line-height: 78px; 156% */
		letter-spacing: 1px;

		background: linear-gradient(
			252deg,
			rgba(255, 255, 255, 0.9) 10.23%,
			rgba(255, 255, 255, 0.72) 112.32%
		);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
