---
import LightBoardText from "@/components/LightBoardText.astro";
import Parrafo from "@/components/Parrafo.astro";
import TextH2 from "@/components/TextH2.astro";
import TextH3 from "@/components/TextH3.astro";
---

<section id="cotizar">
	<TextH2 texto="Cotizar" />
	<div class="parrafos">
		<TextH3 texto="Pasos del proceso de compra venta" />
		<div class="textos">
			<Parrafo align="center">
				¿Por qué hay pasos? Porque las lightboard no están listas, se arman con
				cada pedido
			</Parrafo>
			<ul>
				<LightBoardText>
					<Parrafo align="center">
						&#8226; <span>Paso 1 :</span> Pedir la cotización especificando la región y comuna
						en la cual se debe realizar la entrega
					</Parrafo>
				</LightBoardText>
				<LightBoardText>
					<Parrafo align="center">
						&#8226; <span>Paso 2 :</span> te respondemos la cotización
					</Parrafo>
				</LightBoardText>
				<LightBoardText>
					<Parrafo align="center">
						&#8226; <span>Paso 3 :</span> una vez aceptada la cotización se debe
						pagar al menos el 50% del servicio, y el otro 50% se paga
						posterior a la entrega
					</Parrafo>
				</LightBoardText>
			</ul>
			<Parrafo align="center">
				Entregamos una Boleta honorarios por el total del monto cotizado
			</Parrafo>
		</div>
	</div>
</section>

<style>
	section {
		padding: 0 20px;
	}
	.parrafos {
		margin-top: 40px;
	}

	.textos {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.textos span {
		font-size: clamp(1.8rem, 1.364rem + 1.364vw, 3rem);
		font-weight: 800;
		line-height: clamp(2rem, 1.636rem + 1.136vw, 3rem);
		letter-spacing: 0.4px;

		background: linear-gradient(
			252deg,
			rgba(255, 255, 255, 0.9) 10.23%,
			rgba(255, 255, 255, 0.72) 112.32%
		);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	ul {
		margin: 40px 0;
		max-width: 1000px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	@media (width < 600px) {
		.parrafos {
			margin-top: 20px;
		}

		.textos {
			margin-top: 10px;
		}

		ul {
			margin: 40px 0;
			gap: 10px;
		}
	}
</style>
