---
import Parrafo from "@/components/Parrafo.astro";
import TextH2 from "@/components/TextH2.astro";
import TextH3 from "@/components/TextH3.astro";
---

<section id="cotizar">
	<TextH2 texto="Cotizar" />
	<div class="parrafos">
		<TextH3 texto="Pasos del proceso de compra venta" />
		<div class="textos">
			<Parrafo align="center">
				¿Por qué hay pasos? Porque las lightboard no están listas, se arman con
				cada pedido
			</Parrafo>
			<ul>
				<Parrafo align="center">
					&#8226; Paso 1: Pedir la cotización especificando la región y comuna
					en la cual se debe realizar la entrega
				</Parrafo>
				<Parrafo align="center">
					&#8226; Paso 2: te respondemos la cotización
				</Parrafo>
				<Parrafo align="center">
					&#8226; Paso 3: una vez aceptada la cotización se debe pagar al menos
					el 50% del servicio, y el otro 50% se paga posterior a la entrega
				</Parrafo>
			</ul>
			<Parrafo align="center">
				Entregamos una Boleta honorarios por el total del monto cotizado
			</Parrafo>
		</div>
	</div>
</section>

<style>
	.parrafos {
		margin-top: 40px;
	}

	.textos {
		margin-top: 50px;
	}

	ul {
		margin: 90px 0;
	}

	@media (width < 600px) {
		.parrafos {
			margin-top: 20px;
		}

		.textos {
			margin-top: 30px;
		}

		ul {
			margin: 40px 0;
		}
	}
</style>
