---
import TextH1 from "@components/TextH1.astro";
import LightBoardImg from "@components/LightBoardImg.astro";

import ImgPrincipal from "@imgs/imagen principal ampliada.jpg";
import FlechaAbajo from "@svgs/FlechaAbajo.svg";
import LightBoardModal from "@components/LightBoardModal.astro";
---

<div class="hero">
	<TextH1 texto="Obtén tu Lightboard en Chile" />
	<LightBoardModal 
		src={ImgPrincipal}
		alt="Imagen de la instalación de una lightboard"
		ancho={500}
	/>
	<!-- <LightBoardImg
		src={ImgPrincipal}
		alt="Imagen de la instalación de una lightboard"
		ancho={500}
	/> -->
</div>
<div class="Flecha-abajo">
	<FlechaAbajo class="SVG-FlechaAbajo" />
</div>

<style>
	.hero {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		/* gap: 50px; */
		margin: 30px 0;
	}

	.Flecha-abajo {
		margin-top: 30px;
		display: grid;
		place-items: center;
	}

	.SVG-FlechaAbajo {
		backdrop-filter: blur(20px);
		animation: rebote 1.2s infinite ease-in-out;
		width: clamp(30px, 10vw, 53px);
	}

	@keyframes rebote {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(10px);
		}
	}

	@media (max-width: 1000px) {
		.hero {
			flex-direction: column;
			text-align: center;
			gap: 40px;
			margin: 20px 0;
		}

		.Flecha-abajo {
			margin-top: 0px;
		}
	}
</style>
