---
const menuItems = [
	{ name: "Contacto", href: "#" },
	{ name: "Características", href: "#" },
	{ name: "Proyectos Realizados", href: "#" },
	{ name: "Cotizar", href: "#" },
];

import Logo from "@/assets/logo-lightboard.svg";
---

<header>
	<a class="logo" href="#">
        <Logo class="logo-svg" />
    </a>
	<nav>
		{menuItems.map(({ name, href }) => <a href={href}>{name}</a>)}
	</nav>
</header>

<style>
	header {
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

    .logo {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-svg {
        width: 100%; /* El SVG ocupará todo el ancho del contenedor */
        height: 100%; /* El SVG ocupará todo el alto del contenedor */
    }

	nav {
		display: flex;
		align-items: center;
		gap: 20px;

		& a {
			color: var(--blanco-text);
			text-decoration: none;
			font-size: 1.8rem;
			transition: all 0.25s ease-in-out;

			&:hover {
                text-shadow:
                    0 0 10px rgba(255, 255, 255, 0.5),
                    0 0 20px rgba(255, 255, 255, 0.5);
			}
		}
	}
</style>
