---
const menuItems = [
	{ name: "Contacto", href: "#Contacto" },
	{ name: "Visual", href: "#visual" },
	{ name: "Beneficios", href: "#beneficios" },
	{ name: "Proyectos", href: "#proyectos" },
	{ name: "Utilizar", href: "#utilizar" },
	{ name: "Dimensiones", href: "#dimensiones" },
	{ name: "Cotizar", href: "#cotizar" },
];

import Logo from "@svgs/logo-lightboard.svg";
---

<header>
	<a class="logo" href="#">
		<Logo class="logo-svg" />
	</a>
	<nav>
		{menuItems.map(({ name, href }) => <a href={href}>{name}</a>)}
	</nav>
</header>

<style>
	header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		width: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
	}

	.logo-svg {
		width: 100%; /* El SVG ocupará todo el ancho del contenedor */
		height: 100%; /* El SVG ocupará todo el alto del contenedor */
	}

	nav {
		display: flex;
		align-items: center;
		gap: 15px;
		padding: 18px 22px;
		border-radius: 15px;
		border: 1px solid rgba(153, 153, 153, 0.15);
		background: linear-gradient(
			232deg,
			rgba(255, 255, 255, 0.2) -8.36%,
			rgba(139, 139, 139, 0.16) 111.4%
		);
		background-blend-mode: plus-lighter;
		box-shadow: -5px 5px 12px 0px rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(5px);

		a {
			color: var(--blanco-text);
			text-decoration: none;
			font-size: clamp(2.5rem, 0rem + 2.5vw, 3rem); /* entre 1000 y 1200 px */
			transition: all 0.25s ease-in-out;

			&:hover {
				text-shadow:
					0 0 10px rgba(255, 255, 255, 0.5),
					0 0 20px rgba(255, 255, 255, 0.5);
			}
		}
	}

	@media (width < 950px) {
		nav {
			display: none;
		}
	}
</style>
