---
import LineasDeLuz from "@/components/LineasDeLuz.astro";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO Meta Tags -->
    <title>Lightboard en chile | Mejora tus clases online</title>
    <meta name="description" content="Lightboard en Chile. Mejora tus clases online con la pizarra de luz. Ideal para universidades, colegios, liceos, profesores y estudiantes.">
    <meta name="keywords" content="Lightboard, pizarra de luz, pizarra transparente, clases en línea, clases online, profesores, estudiantes, Chile">
    <meta name="author" content="Sebastián Sanhueza">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#0B0824">

    <!-- Favicon -->
    
    <!-- RRSS -->
    

    <link rel="stylesheet" href="/styles/reset.css">
</head>
<body>
    <main>
        <slot />
    </main>
    <LineasDeLuz />
</body>
</html>

<style is:global>
    :root {
        --blanco-text: rgba(255, 255, 255, 0.9);
    }

    body {
        background: linear-gradient(233deg, #0B0824 2.37%, #04030E 99.63%);
        color: #fff;
        font-family: roboto, sans-serif;
    }
    
    main {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
    }
</style>