---
import LineasDeLuz from "@/components/LineasDeLuz.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- SEO Meta Tags -->
		<title>Lightboard en chile | Mejora tus clases online</title>
		<meta
			name="description"
			content="Lightboard en Chile. Mejora tus clases online con la pizarra de luz. Ideal para universidades, colegios, liceos, profesores y estudiantes."
		/>
		<meta
			name="keywords"
			content="Lightboard, pizarra de luz, pizarra transparente, clases en línea, clases online, profesores, estudiantes, Chile"
		/>
		<meta name="author" content="Sebastián Sanhueza" />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#0B0824" />
		<link rel="canonical" href="https://lightboard.cl/" />

		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/x-icon" href="/favicon-32x32.png" />
		<link rel="icon" type="image/x-icon" href="/favicon-16x16.png" />
		<link rel="icon" type="image/png" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />

		<!-- RRSS -->

		<!-- CSS -->
		<link rel="stylesheet" href="/styles/reset.css" />
	</head>
	<body>
		<main>
			<slot />
		</main>
		<LineasDeLuz />
	</body>
</html>

<style is:global>
	:root {
		--blanco-text: rgba(255, 255, 255, 0.9);
	}

	body {
		background:
			linear-gradient(180deg, #0b0824, transparent 90%) no-repeat, /* radiente lineal principal */
			linear-gradient(90deg, #04030e, #0b0824); /* radiente lineal principal */
		background-size: 100% 10vh, 100% 100%; /* El radial ocupa el 10% de la pantalla */
		/* background-size: ancho-primera-capa alto-primera-capa, ancho-segunda-capa alto-segunda-capa, etc; */
		background-position: top, top; /* especifica la posición inicial de cada capa de fondo en el contenedor */

		/* Tipografía */
		color: #fff;
		font-family: roboto, sans-serif;
	}

	main {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 1200px;
		margin: 0 auto;
		padding: 20px;

	}
</style>
